








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>票種資料 - listOneTicketType.html</title>

<head th:insert="~{/back-end/tickettype/included-fragment}"></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>票種資料 - listOneTicketType.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/tickettype/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOneTicketType-div"> <!-- 此div被select_page.html第158行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>票種編號:</span><span th:text="${ticketTypeVO.ticketTypeId}"></span><br/>
		<span>票種名稱:</span><span th:text="${ticketTypeVO.ticketName}"></span><br/>
		<span>票種價格:</span><span th:text="${ticketTypeVO.ticketPrice}"></span><br/>		
		<span>票種內容:</span><span th:text="${ticketTypeVO.ticketDescription}"></span><br/>
	</div>


</body>
</html>