<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>單一員工資料</title>
</head>
<body>
<div th:fragment="listOne_employee_data-div">
    <table border="1">
        <tr>
            <th>員工編號</th>
	        <th>員工姓名</th>
	        <th>員工帳號</th>
	        <th>員工密碼</th>
	        <th>員工信箱</th>
	        <th>員工狀態</th>
	        <th>到職日期</th>
	        <th>員工權限</th>
            <!-- 依你的欄位加 -->
        </tr>
        <tr th:if="${employeeDataVO != null}">
            <td th:text="${employeeDataVO.empId}"></td>
            <td th:text="${employeeDataVO.empName}"></td>
	        <td th:text="${employeeDataVO.empAccount}"></td>
	        <td th:text="${employeeDataVO.empPassword}"></td>
	        <td th:text="${employeeDataVO.empEmail}"></td>
	        <td th:text="${employeeDataVO.empStatus}"></td>        
            <td th:text="${employeeDataVO.empCreateTime}"></td>
            <td th:text="${employeeDataVO.empPermissions}"></td>
        </tr>
    </table>
</div>
		<h3>
            <a class="navbar-brand" th:href="@{/employee_data/select_page}">回查詢頁
                <label th:text="${success}"></label>
            </a>
        </h3>
</body>
</html>