<div th:fragment="content">
<style>

.memberClassContent {
	margin: 8% auto;
    padding: 30px 40px;
    max-width: 700px;
    background-color: #ffffff; 
    border-radius: 15px; 
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.memberClassH2 {
	font-size: 36px;
    font-family: "Dancing Script", cursive;
    color: #4682b4;
    text-align: left;
    margin-bottom: 25px;
}
a{
	font-size: 18px;
}
h3 {
    margin-top: 30px;
    color: #333;
}
.memberClassContent input {
	font-size: 16px;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
}
.memberClassContent input[type="submit"] {
	font-size: 16px;
    margin-top: 15px;
    background-color: #4a90e2;
    color: #fff;
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.memberClassContent input[type="submit"]:hover {
	background-color: #357abd;
	cursor: pointer;
}

.errorMsg{
	font-size: 14px !important;	
	color: red;
	border-radius: 10px;
	background-color: rgba(251, 230, 211, 0.546);
	padding: 5px 20px; 
}

</style>

</head>
<body>
	<div class="content memberClassContent memberClassAddPageContent">
		<h2 class="memberClassH2">新增會員等級資料</h2>
		<h3>
			<a th:href="@{/memberClass/select_page}">回後臺會員等級主頁</a>
		</h3>
		<form th:action="@{/memberClass/insert}" method="post" th:object="${memberClassVO}">
			<p>
				<label>會員等級名稱: 
					<input type="text" th:field="*{memberName}" placeholder="">
					<p th:if="${#fields.hasErrors('memberName')}"
						th:errors="*{memberName}" class="errorMsg" 
						id="memberName.errors">
					</p>
				</label>
			</p>
			<p>
				<label>累積消費金額: 
					<input type="text" th:field="*{memberAccPrice}" placeholder=""> 元以上
					<p th:if="${#fields.hasErrors('memberAccPrice')}"
						th:errors="*{memberAccPrice}" class="errorMsg"
						id="memberAccPrice.errors">
					</p>
				</label>
			</p>
			<p>
				<label>購票優惠: 
					<input type="text" th:field="*{memberDiscount}" placeholder="">
					<p th:if="${#fields.hasErrors('memberDiscount')}"
						th:errors="*{memberDiscount}" class="errorMsg"
						id="memberDiscount.errors">
					</p>
				</label>
			</p>
			<input type="submit" value="送出新增">
		</form>

	</div>

	<script>
		
	</script>
</div>