*{
    box-sizing: border-box; 
}
.inner{
    display: flex;
}
.nav{
    background-color: rgb(70, 68, 103); 
/*  background: linear-gradient(0deg, rgb(236, 224, 183) 0%, rgb(245, 215, 144) 16%, rgb(250, 223, 103) 65%);*/ 
    width: 220px;
    height: calc(100vh - 105px);
    position: fixed;
    top: 105px;
    left: 0;
    overflow: auto;
}
.nav li{
    margin-bottom: 0px;
    border-bottom: 2px solid rgb(172, 172, 172);
}
.nav li a{
    color: rgb(218, 215, 215);
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin: 3px 0;
}
.nav li:hover{
    background-color: rgb(193, 191, 188);
}
.topNav{
    width: 100% !important;
    height: 105px;
    background: linear-gradient(0deg, rgb(101, 101, 100) 0%, rgb(75, 79, 107) 16%, rgb(50, 45, 118) 65%);
/*   background: linear-gradient(80deg, rgb(255, 201, 99) 0%, rgb(250, 223, 103) 50%, rgb(255, 201, 99) 60%);*/
 /*  background: linear-gradient(80deg, rgb(250, 223, 103) 0%, rgb(255, 201, 99) 50%, rgb(250, 175, 24) 60%);*/
    align-items: center;
    border-bottom: none !important;
    padding-right: 8vw !important;
    position: fixed;
    top: 0;
    left: 0;
}
.topNav li{
    border-bottom: 0px !important;
    margin: 0 15px !important;
}
.topNav li:hover{
    background-color: transparent !important;
    text-decoration: underline;
}
.welcomeH3{
    font-weight: bold;
}
.welcomeLi:hover{
    color: inherit !important;
    background-color: transparent !important;
    pointer-events: none !important;
}
.welcomeLi a:hover{
    color: white !important;
    text-decoration: none !important;
    pointer-events: none !important;
}
.icon{
    margin-right: 10px;
}
.content{
    border: 5px solid rgb(50, 45, 118);
    border-radius: 10px;
    padding: 20px 40px;
    width: 800px;
    min-height: 500px;
    max-height: 555px;
    position: fixed; /* 讓 ::after 可以絕對定位於 content 右下角 */
    top: 130px;             
    left: 300px;
    box-shadow: 30px 30px 30px rgba(62, 62, 62, 0.3);
	background-color: rgb(255, 255, 255);
	overflow: auto;
}
.content hr{
    border: 3px solid rgb(50, 45, 118);
    margin: 10px;
}
.memberContent::after{
    content: "";
    position: absolute;
    right: 20px; 
    bottom: 0px; 
    width: 200px; 
    height: 200px; 
    background-image: url("../../img/member/group.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .3; 
    pointer-events: none; /* 不會擋到按鈕或文字的點擊 */
}
.btn{
    background-color: orange;
    color: white;
    margin: 10px;
}
.contentTitle{
    font-weight: bold;
    font-size: 32px;
	font-family: "Dancing Script", "LXGW WenKai Mono TC", sans-serif;
	background: linear-gradient(0deg, rgba(104, 119, 230, 0.772) 0%,
		rgb(87, 81, 172) 100%);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	margin: 10px;
}
.content h5{
    margin: 20px;
    font-weight: bold;
}
.memberData{
    font-weight: normal;
    margin: 5px 15px;
    
}
.editBtn{
    margin-top: 10px;
    width: 180px;
}

/* =========== 修改密碼 ============ */
.memberChangePwContent::after{
    content: "";
    position: absolute;
    right: 20px; 
    bottom: 0px; 
    width: 200px; 
    height: 200px; 
    background-image: url("../../img/member/lock.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .3; 
    pointer-events: none; /* 不會擋到按鈕或文字的點擊 */    
}

/* =========== 會員等級 ============ */
.classContent::after{
    content: "";
    position: absolute;
    right: 10px; 
    bottom: 0px; 
    width: 200px; 
    height: 200px; 
    background-image: url("../../img/member/medal.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .3; 
    pointer-events: none; /* 不會擋到按鈕或文字的點擊 */
 
}

.memberClass{
    margin: 0 20px;
}

/* 表格顯示框線 */
th, td{
    padding: 8px 12px;
    text-align: center;
}
table thead th {
    border: 2px solid rgb(90, 90, 90); 
}
table tbody td{
    border: 2px solid rgb(90, 90, 90);
}
table{
    font-size: 20px;
    margin: 20px;
}

/* =========== 推薦電影 ============ */
/* .recommendMovieContent{
    position: relative; /* 讓 ::after 可以絕對定位於 content 右下角 
} */
.recommendMovieContent::after{
    content: "";
    position: absolute;
    right: 10px; 
    bottom: 10px; 
    width: 150px; 
    height: 150px; 
    background-image: url("../source/like.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .1; 
    pointer-events: none; /* 不會擋到按鈕或文字的點擊 */
    
}
.top{
    display: flex;
    justify-content: space-between;
}
.btn-group{
    margin-left: 20px; 
}
.preferBtn, .recommendBtn{
    width: 100px;
    height: 40px;
    background-color: rgb(241, 176, 96)!important; /* 覆寫 Bootstrap 的 btn-primary 藍色 */
    border-color: white !important;
    color: white !important;
    font-size: 18px !important; /* 調整按鈕文字大小 */
    font-weight: bold !important; 
    margin: 10px 0;
}
.preferBtn a{
    color: white !important;
    text-decoration: none !important;
}
.recommendBtn a{
    color: white !important;
    text-decoration: none !important;
}
.preferBtn:hover{
    background-color: rgb(255, 140, 0) !important; 
}
.recommendBtn:hover{
    background-color: rgb(255, 140, 0) !important; 
}
.prevBtn, .nextBtn{
    background-color: rgb(192, 190, 190) !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 10px !important;
    top: 40% !important;
}
.prevBtn:hover, .nextBtn:hover{
    background-color: rgb(150, 150, 150) !important;
}
.movieCardGroup{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}
.movieCard{
    margin: 10px;
    width: calc(33.333% - 20px); /* 每張卡片佔三分之一減去 margin */
    max-width: calc(33.333% - 20px);
    height: 80%;
    flex-shrink: 0;
    background-color: white !important;
}
.movieImg{
    width: 100%; /* 圖片填滿卡片寬度 */
    height: 220px; /* 固定高度避免過高 */
    object-fit: cover;
}
.movieTitle{
    font-weight: 900;
    font-size: 18px;
    margin: 2px auto;
    text-align: center;
}
.movieContext{
    font-size: 16px;
    margin: 2px auto;
    text-align: center;
}
.engTitle{
    font-style: italic;
    color: blue;
}

/*  ================電影偏好風格================ */

.stylePart{
    display: flex;
}
.userStyleContent::after{
    content: "";
    position: absolute;
    right: 2vw; 
    bottom: 5vh; 
    width: 150px; 
    height: 150px; 
    background-image: url("../../img/member/like.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .1; 
    pointer-events: none; /* 不會擋到按鈕或文字的點擊 */
    
}
.secondTitle{
    font-weight: bold;
    /* text-align: center; */
    margin: 25px 15px;
    font-size: 20px;
}
.userStyleInfo{
    /*margin: 20px auto;
     text-align: center; */
    width: 50%;
}
.stylePart{
    margin-bottom: 20px;
}
.stylePart label{
    margin-right: 30px;
    font-size: 18px;
    letter-spacing: 1.5px;
}
.stylePart .firstLabel{
    margin-left: 10px;
}
.editStyleBtn{
    display: block !important;
    width: 180px;
    /* margin: 10px auto;
    text-align: center; */
}

/* ==================會員註冊(喜好風格)====================== */

.signupStyleContent{
    margin-top: 10vh;
    background-color: rgb(250, 250, 249);
    box-shadow: 10px 10px 30px rgba(90, 89, 98, 0.619);
}

.signupStyleBody::after{
    content: "";
    position: absolute;
    right: 0; 
    bottom: 0; 
    width: 100vw; 
    height: 100vh; 
    background-image: url("../../img/member/movie03.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .3; 
    pointer-events: none; /* 不會擋到按鈕或文字的點擊 */
    z-index: -100;
} 


.signupStyleContent .secondTitle{
    line-height: 1.8;
}
.modal-header {
    background: linear-gradient(90deg, #4d5e75, #3b4986);
    color: #e5e7eb;
}
.modal-content {
    border-radius: 16px;
}

.modal-backdrop {
    background-color: #020617; /* 深藍黑 */
}
.modal-backdrop.show {
    opacity: 0.7;
}

.modal .btn-close,
.modal .btn {
    pointer-events: auto !important;
    z-index: 9999 !important;
    position: relative !important;
}


/* ==================我的通知====================== */
.notificationContent::after{
    content: "";
    position: absolute;
    right: 2vw; 
    bottom: 5vh; 
    width: 150px; 
    height: 150px; 
    background-image: url("../../img/member/bell.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .2; 
    pointer-events: none; /* 不會擋到按鈕或文字的點擊 */
}
.notifyP{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8;
    padding: 20px;
}
/* ==================我的票券====================== */
.ticketContent::after{
    content: "";
    position: absolute;
    right: 10px; 
    bottom: 0px; 
    width: 200px; 
    height: 200px; 
    background-image: url("../../img/member/ticket.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .1; 
    pointer-events: none; /* 不會擋到按鈕或文字的點擊 */
    
}
.content .ticketH5{
    margin: 0;
    padding: 10px;
}
.ticketCardBody{
    display: flex;
    justify-content: space-between;
}
.ticketBarcodeImg{
    width: 120px;
    height: 120px;
    display: block;
    margin: 10px;
}
.ticketBtn{
    margin-left: 25px;
}
.ticketCardBody{
    margin: 10px;
}

/* ==================我的訂單====================== */
.orderContent::after{   
    content: "";
    position: absolute;
    right: 5px; 
    bottom: 10px; 
    width: 200px; 
    height: 200px; 
    background-image: url("../../img/member/order.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .1; 
    pointer-events: none; /* 不會擋到按鈕或文字的點擊 */
    
}


/* ===============會員登入表單樣式===================================== */
input{
    border-radius: 6px;
    border: 1px solid gray;
}

/* ================= 登入頁面的RWD ================= */
/* ================= 平板以下 ================= */
@media (max-width: 991px) {
	@media (max-width: 576px){

    .content{
        width: 80% !important;
        height: auto !important;
        margin: 0 !important;
        position: static !important;
        border: none;
        box-shadow: none;
    }

    .loginContent{
        width: 80% !important;
        max-width: 420px;
        margin: 40px auto !important;
        padding: 24px 18px;
        border-radius: 16px;
        box-shadow: 0 10px 30px rgba(0,0,0,.25);
    }

    .coverflow{
        display: none;
    }

    .btn{
        width: 100%;
    }

    .loginInput{
        width: 80%;
    }
}
	
    .mainPart{
        flex-direction: column;
        gap: 20px;
        margin-top: 5%;
    }

    .coverflow{
        width: 65%;
        height: auto;
    }

    .mainPartImg{
        width: 65%;
        height: auto;
        margin: 0;
    }

    .loginContent{
        width: 65%;
    }

    .forgetPwd{
        padding-left: 0 !important;
        text-align: center;
        margin-right: 5px;
    }
}

/* ================= 手機 ================= */
@media (max-width: 576px) {

    .mainPart{
        border: none;
        padding: 10px;
    }

    /* 手機直接隱藏輪播圖片 */
    .coverflow{
        display: none;
    }

    .loginContent{
        width: 100%;
        margin: 0 auto;
        padding: 20px 15px;
    }

    .loginLogo{
        width: 120px;
    }

    .contentTitle{
        font-size: 22px;
    }

    .formInfo p{
        font-size: 16px;
        margin: 18px;
        white-space: nowrap;
    }

    .loginInput{
        width: 80%;
        margin-top: 8px;
    }

    .btn{
        width: 100%;
    }

    .forgetPwd{
        font-size: 14px;
        text-align: right;
        margin-top: 5px;
    }
}
